{% extends "html/base.html.j2" %}

{% block content %}
        Podano zły login i/lub hasło
        <form action="/" method="get">
        <input type="submit" value="Powróć"
         name="Submit" id="frm1_submit" />
</form>
{% endblock %}