<html>
    <head>
    <meta charset="UTF-8">
        <title>{{ title }}</title>
        {% if head_values is defined %}
        {{ head_values }}
        {% endif %}
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>