{% extends "html/base.html.j2" %}
{% block content %}
<a href="/client/products"> Produkty</a></br>
{% if user_type == "Sprzedawca" or user_type == "Manager" %}
<a href="/seller/add_product"> Dodaj Produkt</a></br>
{% endif %}
{% if user_type == "Manager" %}
<a href="/manager/users"> Wyświetl użytkowników</a></br>
    <form action="" method="post" name="sellerregister" novalidate >
        <input type="submit" value="Zarejestruj Sprzedawce" name="submit">
    </form>
    <form action="" method="post" name="managerregister" novalidate >
        <input type="submit" value="Zarejestruj Managera" name="submit">
    </form>
    <form action="" method="post" name="deluser" novalidate >
        <input type="submit" value="Usuń Użytkownika" name="submit">
    </form>

    <form action="" method="post" name="delperson" novalidate >
        <input type="submit" value="Usuń Osobe" name="submit">
    </form>

    <form action="" method="post" name="delperson" novalidate >
        <input type="submit" value="Usuń Adres" name="submit">
    </form>

    <form action="" method="post" name="delperson" novalidate >
        <input type="submit" value="Usuń Produkt" name="submit">
    </form>
{% endif %}

{% endblock %}
