{% extends "html/base.html.j2" %}

{% block content %}
<table>
<tr>
{% for item in header %}
<th>{{ item }}</th>
{% endfor %}
</td>

    {% for row in data %}
         <tr>
         {% for cell in row %}
             <td>
             {{ cell }}
             </td>
         {% endfor %}
         </tr>
    {% endfor %}
</table>
{% endblock %}